.social:hover {
   /* font-size: 105%; */
   margin-left: 8px;
   transition: 0.2s;
   color: white !important;
}

.email {
   color: #1e88e5;
   transition: 200ms;
}

.email:hover {
   color: #f57c00;
   transition: 200ms;
}

.social {
   transition: 0.25s;
}

.copyright-link:hover {
   font-size: 105%;
   transition: 0.2s;
}

.copyright-link {
   transition: 0.2s;
}

body {
   opacity: 1;
   transition: 1s opacity;
   display: flex;
   min-height: 100vh;
   flex-direction: column;
}

body.fade {
   opacity: 0;
   transition: none;
}

p {
   font-size: 16px !important;
 }

main {
   flex: 1 0 auto;
}

.parallax-container {
   height: 550px;
}

.caption {
   margin-top: 140px;
}

.event {
   margin-bottom: 20px;
   display: flex;
   cursor:pointer;
}

.event-container {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   align-items: stretch
}

@media only screen and (min-width: 900px) {
   .event-photos {
      height: 33vw;
      max-height: 33vw;
   }
}

@media only screen and (max-width: 900px) {
   .event-photos {
      max-height: 36vh;
   }
}

@media only screen and (max-width: 600px) {
   .event-photos {
      max-height: 30vh;
   }
}

@media only screen and (max-width: 700px) and (orientation: landscape) {
   .event-photos {
      max-height: 40vw;
   }
}