ErrorDocument 400 https://imperialcharityweek.co.uk/error/
ErrorDocument 403 https://imperialcharityweek.co.uk/error/
ErrorDocument 404 https://imperialcharityweek.co.uk/error/
ErrorDocument 500 https://imperialcharityweek.co.uk/error/
<Files .htaccess>
  order allow,deny
  deny from all
</Files>
Options All -Indexes